TURNSTILE_SECRET_KEY=REPLACE_WITH_TURNSTILE_SECRET
DATA_ENCRYPTION_KEY=REPLACE_WITH_BASE64_32_BYTE_KEY
EMAIL_HASH_SECRET=REPLACE_WITH_RANDOM_HMAC_SECRET
SYNC_API_TOKEN=REPLACE_WITH_RANDOM_ADMIN_SYNC_TOKEN
